<form #myForm="ngForm" name="myForm">
  <div class="form-group col-md-5">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" [(ngModel)]="model.email" name="email" #email="ngModel" required email="true">
    <div [ngClass]="{'hidden': email.valid || email.pristine}" class="validation-message">
      <p style="color:red">
        This is not valid email, email should be <i>abc@gmail.com</i>.
      </p>
    </div>
  </div>

  <div class="form-group col-md-5">
    <label for="phonenumber">Phone Number</label>
    <input type="text" class="form-control" id="phonenumber" [(ngModel)]="model.phoneNumber" name="phonenumber" #phonenumber="ngModel" required pattern="([0][0-9]{9}|[0][0-9]{10}|[+][8][4][0-9]{9}|[+][8][4][0-9]{10})">
    <div [ngClass]="{'hidden': phonenumber.valid || phonenumber.pristine}" class="validation-message">
      <p style="color:red">
        This is not a valid phone number.
      </p>
    </div>
  </div>

  <div class="form-group col-md-5">
    <label for="role">Role</label>
    <!--<input type="text" class="form-control" id="role" [(ngModel)]="model.role" name="role" #role="ngModel" required />-->
    <select class="form-control" id="role" [(ngModel)]="model.role" name="role" #role="ngModel" required>
      <option value="Customer">Customer</option>
      <option value="Driver">Driver</option>
      <option value="Coordinator">Coordinator</option>
      <option value="Administrator">Administrator</option>
    </select>
    <div [ngClass]="{'hidden': role.valid || role.pristine}" class="validation-message">
      <p style="color:red">
        Role is required.
      </p>
    </div>
  </div>

  <div class="form-group col-md-5">
    <p style="color:red">{{message}}</p>
    <button class="btn btn-success" (click)="save(model.id)" [disabled]="myForm.invalid">Save</button>
    <button class="btn btn-primary" (click)="back()">Back</button>
  </div>
</form>
