<h1>List shipment</h1>
<div class="list">
  <table class="table table-hover">
    <thead id="head">
      <tr>
        <th>Shipment Code</th>
        <th>License plate</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Total request</th>
        <th>Status</th>
        <th>Assign</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of shipmentAssigned">
        <td>{{item.code}}</td>
        <td>{{item.licensePlate}}</td>
        <td>{{item.startDate | date:'short'}}</td>
        <td>{{item.endDate| date:'short'}}</td>
        <td>{{item.requestQuality}}</td>
        <td>{{item.status}}</td>
        <td>
          <button *ngIf="item.status == 'Pending'" class="btn btn-outline-success" (click)="changeStatus(item, 'Accept')">Accept</button>
          <button *ngIf="item.status == 'Accept'" class="btn btn-outline-primary" (click)="changeStatus(item, 'Picking')">Picking</button>
          <button *ngIf="item.status == 'Pending'|| item.status == 'Accept'" class="btn btn-outline-danger" (click)="changeStatus(item,item.code, 'Reject')">Reject</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
