<h1>List shipment</h1>
<div class="list">
  <table class="table table-hover">
    <thead id="head">
      <tr>
        <th>Shipment Code</th>
        <th>License plate</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Total request</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of shipmentAssigned" (click)="goToPageDetail(item.code)">
        <td>{{item.code}}</td>
        <td>{{item.licensePlate}}</td>
        <td>{{item.startDate | date:'short'}}</td>
        <td>{{item.endDate| date:'short'}}</td>
        <td>{{item.requestQuality}}</td>
        <td>
          <span *ngIf="item.status=='Pending' || item.status=='Accept' || item.status=='Reject'"> {{item.status}}</span>
          <span *ngIf="item.status!='Pending' && item.status!='Accept' && item.status!='Reject'&& item.status!='Completed' " id="picking"> {{item.status}}</span>
          <span *ngIf="item.status=='Completed'" id="complete"> {{item.status}}</span>
        </td>
        
      </tr>
    </tbody>
  </table>
</div>
