
<div class="row">
  <div class="col-md-4">
    <div class="tille">
      <p id="header">REQUEST</p>
     
      <div class="form-group row">

        <div class="col-sm-12">
          <input type="text" class="form-control-plaintext yourAddress" value="email@example.com">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <input type="text" class="form-control-plaintext nextAddress" value="email@example.com">
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-8">
    <app-ggmap></app-ggmap>
  </div>
</div>
