<div class="card">
  <form class="k-form" #form="ngForm" novalidate>
    <fieldset>
      <legend><b>transportation</b></legend>
      <div class="row">
        <div class="col-sm">
          <span><b>Choose Vehicle </b></span>
          <div class="input-group">
            <kendo-combobox name="vehicle"
                            [data]="vehicleView | async"
                            [(ngModel)]="vehicle"
                            [valueField]="'Value'"
                            [textField]="'DisplayName'"
                            [filterable]="true"
                            (filterChange)="handleVehicleFilter($event)"
                            style="width: 200px;"
                            class="mr-1 mb-1">
            </kendo-combobox>
            <span class="input-group-btn">
              <button class="btn btn-primary btn-sm" (click)="GetVehicleDetail()" primary="true">Add</button>
            </span>
          </div>
          <div>
            <div>
              <span>License Plate</span>
              <input class="k-textbox" [(ngModel)]="vehicleDetail.LicensePlate" name="LicensePlate" readonly required />
            </div>
            <div>
              <span>Vehicle Type</span>
              <input class="k-textbox" [(ngModel)]="vehicleDetail.VehicleFeatureType" name="VehicleFeatureType" readonly required />
            </div>
          </div>
        </div>

        <div class="col-sm">
          <span><b>Choose Driver</b> </span>
          <div class="input-group">
            <kendo-combobox name="driver"
                            [data]="driverView | async"
                            [(ngModel)]="driver"
                            [valueField]="'Value'"
                            [textField]="'DisplayName'"
                            [filterable]="true"
                            (filterChange)="handleDriverFilter($event)"
                            style="width: 200px;"
                            class="mr-1 mb-1">
            </kendo-combobox>
            <span class="input-group-btn">
              <button class="btn btn-primary btn-sm" (click)="GetDriverDetail()" primary="true">Add</button>
            </span>
          </div>

          <div>
            <div>
              <span>Driver Name</span>
              <input class="k-textbox" [(ngModel)]="driverDetail.UserName" name="UserName" readonly required />
            </div>
            <div>
              <span>Phone Number</span>
              <input class="k-textbox" [(ngModel)]="driverDetail.PhoneNumber" name="DriverPhoneNumber" readonly />
            </div>
          </div>
        </div>

        <div class="col-sm">
          <span><b>Shipment Schedule</b></span>
          <div>
            <span>Start Date</span>
            <div class="row px-3">
              <kendo-datepicker [(ngModel)]="pickingDate" name="pickingDate" required></kendo-datepicker>
              <kendo-timepicker [(ngModel)]="pickingDate" name="pickingDate" required></kendo-timepicker>
            </div>
          </div>
          <div>
            <span>Delivery Date</span>
            <div class="row px-3">
              <kendo-datepicker [(ngModel)]="deliveryDate" name="deliveryDate" required></kendo-datepicker>
              <kendo-timepicker [(ngModel)]="deliveryDate" name="deliveryDate" required></kendo-timepicker>
            </div>
          </div>
        </div>
      </div>

    </fieldset>
    <fieldset>
      <legend><b>Request</b></legend>
      <div>
        <span>Warehouse Search Box </span>
        <div class="input-group">
          <kendo-combobox name="warehouse"
                          [data]="warehouseView | async"
                          [(ngModel)]="warehouse"
                          [valueField]="'Value'"
                          [textField]="'DisplayName'"
                          [filterable]="true"
                          (filterChange)="handleWarehouseFilter($event)"
                          style="width: 200px;"
                          class="mr-1 mb-1"
                          [disabled]="isValid">
          </kendo-combobox>
          <span class="input-group-btn">
            <button class="btn btn-primary btn-sm" (click)="GetWarehouseDetail()" primary="true">Add </button>
          </span>
        </div>
        <!--<div>
          <div>
            <span>Warehouse Name</span>
            <input class="k-textbox" [(ngModel)]="warehouseDetail.WarehouseName" name="WarehouseName" readonly />
          </div>
          <div>
            <span>Address</span>
            <input class="k-textbox" [(ngModel)]="warehouseDetail.Address" name="WarehouseAddress" readonly />
          </div>
          <div>
            <span>Phone Number</span>
            <input class="k-textbox" [(ngModel)]="warehouseDetail.PhoneNumber" name="WarehousePhoneNumber" readonly />
          </div>
        </div>-->

      </div>
      <div>
        <span>Request Search Box </span>
        <div class="input-group">
          <kendo-combobox name="request"
                          [data]="view | async"
                          [(ngModel)]="request"
                          [valueField]="'Value'"
                          [textField]="'DisplayName'"
                          [filterable]="true"
                          (filterChange)="handleFilter($event)"
                          style="width: 200px;"
                          class="mr-1 mb-1">
          </kendo-combobox>
          <span class="input-group-btn">
            <button class="btn btn-primary btn-sm" (click)="AddRequestToList()" primary="true">Add </button>
          </span>
        </div>
      </div>

    </fieldset>
    <kendo-grid [data]="gridData"
                [scrollable]="'scrollable'"
                [height]="350"
                [pageSize]="state.take"
                (remove)="removeHandler($event)"
                required>
      <kendo-grid-column field="Code" title="Code"></kendo-grid-column>
      <kendo-grid-column field="CustomerName" title="Customer Name"></kendo-grid-column>
      <kendo-grid-column field="PickingDate" title="Expected Picking Date"></kendo-grid-column>
      <kendo-grid-column field="ExpectedDate" title="Expected Delivery Date"></kendo-grid-column>
      <kendo-grid-column field="PackageQuantity" title="Packages" width="150"></kendo-grid-column>
      <kendo-grid-column field="DeliveryAddress" title="Delivery Address"></kendo-grid-column>
      <kendo-grid-command-column title="Delivery Date">
        <ng-template kendoGridCellTemplate>
          <kendo-datepicker name="deliveryDate" required></kendo-datepicker>
          <kendo-timepicker name="deliveryDate" required></kendo-timepicker>
        </ng-template>
      </kendo-grid-command-column>
      <kendo-grid-command-column title="command" width="100">
        <ng-template kendoGridCellTemplate>
          <button kendoGridRemoveCommand [primary]="true">Delete</button>
        </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>
    <div>
      <button (click)="onSave()" class="btn btn-primary mt-3" primary="true" [disabled]="form.invalid">Save</button>&nbsp;
      <button (click)="onCancel()" class="btn btn-secondary  mt-3" primary="true">Cancel</button>
    </div>
  </form>
</div>

<!--[ngClass]="{active: isValid, disabled: !isValid}"-->
