
<div class="row">

  <div class="col-md-4">
    <div class="tille">
      <span id="header">SHIPMENT</span>
      <img src="../../assets/support.svg" class="rounded-circle float-right" id="support" width="60" height="60" />
    </div>

    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control-plaintext yourAddress" readonly value="132 Hàm Nghi, Phường Bến Thành, Quận 1, Hồ Chí Minh, Vietnam">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <input type="text" class="form-control-plaintext nextAddress" readonly value={{locationPicking.address}}>
      </div>
    </div>

    <div class="container detail">
      <table class="table table-hover">
        <tbody>
          <tr>
            <td>Shipment code</td>
            <td>{{shipmentDetail.code}}</td>
          </tr>
          <tr>
            <td>Total Package</td>
            <td>{{shipmentDetail.packageQuality}}</td>
          </tr>
          <tr>
            <td>Start date</td>
            <td style="color:red">{{shipmentDetail.startDate | date:'short'}}</td>
          </tr>
          <tr>
            <td>End date</td>
            <td>{{shipmentDetail.endDate | date:'short'}}</td>
          </tr>
          <tr>
            <td>Status</td>
            <td>{{shipmentDetail.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="status">
      <button *ngIf="shipmentDetail.status == 'Picking'" (click)="changeStatus(shipmentDetail, 'Loading')" class="btn btn-success btn-block" id="loading">Start to load</button>
      <button *ngIf="shipmentDetail.status == 'Loading'" (click)="changeStatus(shipmentDetail, 'Shipping')" class="btn btn-success btn-block" id="shipping">Start to ship</button>
      <button *ngIf="shipmentDetail.status == 'Shipping'" (click)="changeStatus(shipmentDetail, 'Completed')" class="btn btn-success btn-block" id="complete">Complete the shipment</button>
    </div>
   
  </div>
  <div class="col-md-8">
    <!--<app-ggmap></app-ggmap>-->
  </div>
</div>
