<div class="container-fluid">
  <div class="py-3">
    <button class="btn btn-success" routerLink="/shipment/create">Create Shipment</button>
  </div>

  <kendo-grid [data]="shipments"
              [pageSize]="state.take"
              [skip]="state.skip"
              [sort]="state.sort"
              [sortable]="true"
              [pageable]="true"
              [scrollable]="'scrollable'"
              [group]="state.group"
              filterable="menu"
              [filter]="state.filter"
              (dataStateChange)="dataStateChange($event)"
              [selectable]="true"
              [height]="380">

    <kendo-grid-column field="Code" title="Code">
    </kendo-grid-column>
    <kendo-grid-column field="RequestQuantity" title="Request Quantity">
    </kendo-grid-column>
    <kendo-grid-column field="StartDate" title="Start Date">
    </kendo-grid-column>
    <kendo-grid-column field="EndDate" title="End Date">
    </kendo-grid-column>
    <kendo-grid-column field="DriverName" title="Driver">
    </kendo-grid-column>
    <kendo-grid-column field="VehicleLicensePlate" title="Vehicle">
    </kendo-grid-column>
    <kendo-grid-command-column title="Command">
      <ng-template kendoGridCellTemplate>
        <button (click)="ChangeStatus($event)">Active</button>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
  
</div>
