<div class="container-fluid">
  <div class="border-custom">
    <h1>Shipment Management</h1>
  </div>
  <div class="py-3">
    <button *ngIf="canCreate" class="btn btn-success" (click)="onCreate()">Create Shipment</button>
  </div>

  <kendo-grid [data]="shipments"
              [pageSize]="state.take"
              [skip]="state.skip"
              [sort]="state.sort"
              [sortable]="true"
              [pageable]="true"
              [group]="state.group"
              filterable="menu"
              [filter]="state.filter"
              (dataStateChange)="dataStateChange($event)"
              [selectable]="true"
              [height]="550">

    <kendo-grid-column field="code" title="Code" [width]="200">
      <ng-template kendoGridCellTemplate let-dataItem>
        <a routerLink="/shipment/{{dataItem.code}}" routerLinkActive="active">{{dataItem.code}}</a>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="startDate" title="Start Date" [width]="250">
      <ng-template kendoGridCellTemplate let-dataItem>
        <a>{{dataItem.startDate | date:'medium'}}</a>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="startDate" title="Start Date" [width]="250">
      <ng-template kendoGridCellTemplate let-dataItem>
        <a>{{dataItem.endDate | date:'medium'}}</a>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="driverName" title="Driver">
    </kendo-grid-column>
    <kendo-grid-column field="vehicleLicensePlate" title="Vehicle">
    </kendo-grid-column>
    <kendo-grid-column field="requestQuantity" title="Requests">
    </kendo-grid-column>
    <kendo-grid-column field="status" title="Status">
    </kendo-grid-column>
  </kendo-grid>

</div>
