
@import "~@progress/kendo-theme-default/scss/panelbar";
@import "~@progress/kendo-theme-default/scss/grid";


$sidebar-color: #e6e6ff;
$main-color: #0073e6;
$btn-thead-color: #3399ff;
// override kendo ui
kendo-grid {
  .k-grid-header {
    thead {
      tr:first-child {
        background-color:$main-color;
        color: white;
      }
    }
  }
}
// Utilities
h1 {
  color: darkslategrey;
}

thead .a{
  background-color: #3399ff;
  color: white;
}

.border-custom {
  border-bottom-style: solid;
  border-width: 1px;
  border-bottom-color: $main-color;
}

img {
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px;
}

// Custom button
.btn-custom {
  border-style: solid;
  border-color: $btn-thead-color;
  background-color: white;
  color: $btn-thead-color;
}

.hidden{
    visibility: hidden;
}

.validation-message{
  display: block;
  min-height: 26px;
  color: red;
}

.note{
  color: red;
}

.k-state-selected {
  background-color: $main-color;
  color: white;
}


.k-pager-numbers .k-link, .k-pager-numbers .k-link:link {
  color: $main-color;
}

.k-pager-numbers  .k-state-selected:hover {
  background-color: $main-color;
}

