$sidebar-color: #e6e6ff;
$main-color: #0073e6;
$btn-thead-color: #3399ff;

// override kendo ui
kendo-grid {
  .k-grid-header {
    thead {
      tr:first-child {
        background-color: $btn-thead-color;
        color: white;
      }
    }
  }
}
// Utilities
h1 {
  color: darkslategrey;
}

thead {
  background-color: #3399ff;
  color: white;
}

.border-custom {
  border-bottom-style: solid;
  border-width: 1px;
  border-bottom-color: $main-color;
}

img {
  border: 2px solid black;
  border-radius: 4px;
  padding: 10px;
}

// Custom button
.btn-custom {
  border-style: solid;
  border-color: $btn-thead-color;
  background-color: white;
  color: $btn-thead-color;
}

.hidden{
    visibility: hidden;
}

.validation-message{
  display: block;
  min-height: 1em;
  color: red;
}
