
<div class="row">

  <div class="col-md-4">
    <div class="tille">
      <span id="header">REQUEST</span>
      <img src="../../assets/support.svg" class="rounded-circle float-right" id="support" width="60" height="60" />
    </div>

    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="form-control-plaintext yourAddress" readonly value="132 Hàm Nghi, Phường Bến Thành, Quận 1, Hồ Chí Minh, Vietnam">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <input type="text" class="form-control-plaintext nextAddress" readonly value="132 Hoàng Văn Thụ, Phường 9, Phú Nhuận, Hồ Chí Minh, Vietnam">
      </div>
    </div>
    <button class="btn btn-success btn-block" id="completed">Completed the request</button>

    <div id="inf">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " routerLink="./detail" routerLinkActive="hold" id="detail">Request detail</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="./problem" routerLinkActive="hold" id="problem">Have problem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./trafficjam" routerLinkActive="hold" id="trafficjam">Alert traffic jam</a>
        </li>
      </ul>
      <div id="router">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="coordinator">
      
    </div>
  </div>
  <div class="col-md-8">
    <app-ggmap></app-ggmap>
  </div>
</div>
