<div class="container-fluid">
  <div class="border-custom">
    <h1>Profile</h1>
  </div>
  <div class="container pt-2">
    <div class="row">
      <div class="col-md-3 col-lg-3 " align="center">
        <img alt="User Pic" src="https://image.flaticon.com/icons/svg/3/3641.svg" class="img-circle">

        <div class="d-flex justify-content-center pt-3">
          <input style="display: none"
                 type="file" (change)="onFileChanged($event)"
                 #fileInput>
          <button class="btn btn-primary" (click)="fileInput.click()" id="AUpload">Upload your photo</button>
        </div>
      </div>
      <div class="col-md-9 col-lg-9">
        <table class="table">
          <tbody>
            <tr>
              <th>Full name:</th>
              <td>{{userProfile.userName}}</td>
            </tr>
            <tr>
              <th>Date of birth:</th>
              <td>06/09/1996</td>
            </tr>
            <tr>
              <th>Email:</th>
              <td>{{userProfile.email}}</td>
            </tr>
            <tr>
              <th>Phone number:</th>
              <td>{{userProfile.phoneNumber}}</td>
            </tr>
            <tr>
              <th>Address:</th>
              <td>132 Hàm Nghi, Quận 1, Tp. Hồ Chí Minh</td>
            </tr>
            <tr>
              <th>Join date:</th>
              <td>{{userProfile.createdDate | date:'medium'}}</td>
            </tr>
          </tbody>
        </table>
        <div class="row justify-content-center">
          <!--<a href="#" class="btn btn-primary btn-space">Edit User</a>-->
          <button class="btn btn-primary" data-toggle="modal" data-target="#EditModal">Edit</button>&nbsp;
          <button class="btn btn-primary" data-toggle="modal" data-target="#ChangePWDModal">Change Password</button>&nbsp;
          <button class="btn btn-primary" data-toggle="modal" data-target="#DeactivateModal">Deactivate</button>&nbsp;
          <button class="btn btn-primary" (click)="back()">Back</button>&nbsp;
        </div>
      </div>
    </div>
  </div>
</div>

<!--Edit Modal-->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="EditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EditModalLabel">Edit Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="userProfileEdit.email" name="email" #email="ngModel" required email="true">
            <div [ngClass]="{'hidden': email.valid || email.pristine}" class="validation-message">
              <div *ngIf="email?.errors?.required">
                Email is required.
              </div>
              <div *ngIf="email?.errors?.email">
                This is not valid email, email should be <i>abc@gmail.com</i>.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="phonenumber">Phone Number</label>
            <input type="text" class="form-control" id="phonenumber" [(ngModel)]="userProfileEdit.phoneNumber" name="phonenumber" #phonenumber="ngModel" required>
            <div [ngClass]="{'hidden': phonenumber.valid || phonenumber.pristine}" class="validation-message">
              Phone number is required.
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-custom" data-dismiss="modal">Close</button>
          <button id="btn-smessage" class="btn btn-custom"  (click)="confirm(userProfile.id)" >Confirm</button>
        </div>
        <div [hidden]="!isError" class="validation-message">
          {{message}}
        </div>
      </form>
    </div>
  </div>
</div>

<!--Edit Message Modal-->
<div class="modal fade" id="EditMessage" tabindex="-1" role="dialog" aria-labelledby="EditMessage" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title " id="EditMessageLabel">Edit Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-success">Your info has been changed successfully!</p>
      </div>
    </div>
  </div>
</div>

<!--Deactivate Modal-->
<div class="modal fade" id="DeactivateModal" tabindex="-1" role="dialog" aria-labelledby="DeactivateModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeactivateModalLabel">Deactivate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <p>Please fill your password to comfirm.</p>
          <input class="form-control" type="password" id="Password" name="Password" placeholder="Password" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-custom" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-custom" data-dismiss="modal" data-toggle="modal" data-target="#DeactivateMessage">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--Deactivate Message Modal-->
<div class="modal fade" id="DeactivateMessage" tabindex="-1" role="dialog" aria-labelledby="DeactivateMessageLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeactivateMessageLabel">Deactivate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-danger">You have 7 days remain before your account being deactivate!</p>
      </div>
    </div>
  </div>
</div>

<!--ChangePWD Modal-->
<div class="modal fade" id="ChangePWDModal" tabindex="-1" role="dialog" aria-labelledby="ChangePWDModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ChangePWDModalLabel">Deactivate</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label for="CurrentPassword">Current Password</label>
            <input type="password" class="form-control" name="CurrentPassword" id="CurrentPassword">
          </div>
          <div class="form-group">
            <label for="NewPassword">New Password</label>
            <input type="password" class="form-control" name="NewPassword" id="NewPassword">
          </div>
          <div class="form-group">
            <label for="RePassword">Re-Password</label>
            <input type="password" class="form-control" name="RePassword" id="RePassword">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-custom" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-custom" data-dismiss="modal" data-toggle="modal" data-target="#ChangePWDMessage">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--ChangePWD Message Modal-->
<div class="modal fade" id="ChangePWDMessage" tabindex="-1" role="dialog" aria-labelledby="ChangePWDMessageLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title " id="ChangePWDMessageLabel">Password changed!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-success">Your password has been changed successfully!</p>
      </div>
    </div>
  </div>
</div>
