<div id="sidebar-container" class="sidebar-expanded d-none d-md-block ">
  <!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
  <!-- Bootstrap List Group -->
  <ul class="list-group " id="menu">
    <!--Menu with submenu
  <li>
    <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class=" list-group-item list-group-item-action flex-column align-items-start">
      Dashboard
    </a>
    <div id='submenu1' class="collapse sidebar-submenu">
      <a href="#" class="list-group-item list-group-item-action ">
        1. Charts
      </a>
      <a href="#" class="list-group-item list-group-item-action ">
        2. Reports
      </a>
      <a href="#" class="list-group-item list-group-item-action ">
        3. Tables
      </a>
    </div>
  </li>-->


    <!--<li>
      <a routerLink="/assigned" routerLinkActive="hold" class=" list-group-item list-group-item-action ">Assigned</a>
    </li>-->
    <li *ngIf="isRole=='Customer' || isRole=='Driver' || isRole=='Coordinator'">
     <a routerLink="/request/list" routerLinkActive="hold" class=" list-group-item list-group-item-action ">Request</a>
    </li>
    <li *ngIf="isRole=='Customer'">
      <a  class=" list-group-item list-group-item-action ">Warehouse</a>
    </li>
    <li *ngIf="isRole=='Coordinator' || isRole=='Driver'">
      <a routerLink="/shipment" routerLinkActive="hold" class=" list-group-item list-group-item-action ">Shipment</a>
    </li>
    <li *ngIf="isRole=='Administrator'">
      <a routerLink="/account" routerLinkActive="hold" class=" list-group-item list-group-item-action ">Account</a>
    </li>
  </ul>
</div>
