<div class="container-fluid">
  <div class="border-custom">
    <h1>Create Request</h1>
  </div>
  <div class="container-fluid pt-3">
    <div class="btn-wrapper">
      <!-- Create / View -->
      <button *ngIf="!isUpdateFormMode" type="submit" class="btn btn-primary signin-btn" (click)="onNavigateToListPage()">Back to List</button>

      <!-- Update -->
      <button *ngIf="isUpdateFormMode" type="submit" class="btn btn-primary signin-btn" (click)="onNavigateToViewPage()">Cancel</button>

      <!-- Create / Update -->
      <button *ngIf="!isViewFormMode" type="submit" class="btn btn-primary signin-btn">Save</button>

      <!-- View -->
      <a *ngIf="isViewFormMode" routerLink="/user/form/update/{{formData?.id}}" class="btn btn-primary">Update</a>
    </div>
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <form #mainForm="ngForm" name="mainForm" (ngSubmit)="onSubmitForm(mainForm)">

          <div class="form-group">
            <label for="ReceiverName">Receiver Name </label>
            <input type="text" class="form-control" [(ngModel)]="formData.ReceiverName" name="ReceiverName" #ReceiverName="ngModel" required>
            <div *ngIf="ReceiverName.invalid && (ReceiverName.dirty || ReceiverName.touched)"
                 class="alert alert-danger">
              <div *ngIf="ReceiverName.errors.required">
                Receiver Name is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="ReceiverPhoneNumber">Receiver PhoneNumber</label>
            <input type="text" class="form-control" [(ngModel)]="formData.ReceiverPhoneNumber" name="ReceiverPhoneNumber" #ReceiverPhoneNumber="ngModel" required>
            <div *ngIf="ReceiverPhoneNumber.invalid && (ReceiverPhoneNumber.dirty || ReceiverPhoneNumber.touched)"
                 class="alert alert-danger">
              <div *ngIf="ReceiverPhoneNumber.errors.required">
                Receiver PhoneNumber is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="Address">Address</label>
            <input type="text" class="form-control" [(ngModel)]="formData.Address" name="Address " #Address="ngModel" required>
            <div *ngIf="Address.invalid && (Address.dirty || Address.touched)"
                 class="alert alert-danger">
              <div *ngIf="Address.errors.required">
                Address is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="PackageQuantity">Package Quantity</label>
            <input type="text" class="form-control" [(ngModel)]="formData.PackageQuantity" name="PackageQuantity" #PackageQuantity="ngModel" required>
            <div *ngIf="PackageQuantity.invalid && (PackageQuantity.dirty || PackageQuantity.touched)"
                 class="alert alert-danger">
              <div *ngIf="PackageQuantity.errors.required">
                Package Quantity is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="DeliveryDate">Picking Date</label>
            <input class="form-control" [(ngModel)]="formData.PickingDate" name="PickingDate" #PickingDate="ngModel" required>
            <div *ngIf="PickingDate.invalid && (PickingDate.dirty || PickingDate.touched)"
                 class="alert alert-danger">
              <div *ngIf="PickingDate.errors.required">
                Picking Date is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="DeliveryDate">Expected Date</label>
            <input class="form-control" [(ngModel)]="formData.ExpectedDate" name="ExpectedDate" #ExpectedDate="ngModel" required>
            <div *ngIf="ExpectedDate.invalid && (ExpectedDate.dirty || ExpectedDate.touched)"
                 class="alert alert-danger">
              <div *ngIf="ExpectedDate.errors.required">
                Expected Date is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="Warehouse">Warehouse</label>
            <select class="form-control" [(ngModel)]="formData.WareHouseId" placeholder="Choose here..." name="WareHouseId" #WareHouseId="ngModel">
              <option>1</option>
              <option>2</option>
            </select>
          </div>

          <div class="form-group">
            <label for="Address">Delivery Latitude</label>
            <input type="text" class="form-control" [(ngModel)]="formData.DeliveryLatitude" name="DeliveryLatitude" #DeliveryLatitude="ngModel" required>
            <div *ngIf="DeliveryLatitude.invalid && (DeliveryLatitude.dirty || DeliveryLatitude.touched)"
                 class="alert alert-danger">
              <div *ngIf="DeliveryLatitude.errors.required">
                Delivery Latitude is required.
              </div>
            </div>
          </div>

          <div class="form-group ">
            <label for="FullName">Delivery Longitude</label>
            <input type="text" class="form-control" [(ngModel)]="formData.DeliveryLongitude" name="DeliveryLongitude" #DeliveryLongitude="ngModel" required>
            <div *ngIf="DeliveryLongitude.invalid && (DeliveryLongitude.dirty || DeliveryLongitude.touched)"
                 class="alert alert-danger">
              <div *ngIf="DeliveryLongitude.errors.required">
                Delivery Longitude is required.
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-custom">Create</button>

        </form>
      </div>
      <div class="col-md-8 col-lg-8 ">
        <p>Map here!</p>
      </div>
    </div>
  </div>
</div>
<script>
  $("#mainForm").validate({
    rules: {
      DeliveryLatitude: { required: true }
    },
    messages: {
      DeliveryLatitude: "Just check the box<h5 class='text-danger'>You aren't going to read the EULA</h5>"
    },
    tooltip_options: {
      DeliveryLatitude: { placement: 'right', html: true }
    },
  });
</script>
