<div class="container-fluid">
  <div class="border-custom">
    <h1 [hidden]="!isCreateFormMode">Create Request</h1>
    <h1 [hidden]="!isUpdateFormMode">Update Request</h1>
    <h1 [hidden]="!isViewFormMode">Request Detail</h1>
  </div>
  <div class="container-fluid pt-3">
    
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <form #mainForm="ngForm" name="mainForm" (ngSubmit)="onSubmitForm(mainForm)">

          <div class="form-group">
            <label for="receiverName">Receiver Name </label>
            <input type="text" class="form-control" [(ngModel)]="formData.receiverName" name="receiverName" #receiverName="ngModel" required [disabled]="isViewFormMode">
            <div *ngIf="receiverName.invalid && (receiverName.dirty || receiverName.touched)"
                 class="alert alert-danger">
              <div *ngIf="receiverName.errors.required">
                Receiver Name is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="receiverPhoneNumber">Receiver PhoneNumber</label>
            <input type="text" class="form-control" [(ngModel)]="formData.receiverPhoneNumber" name="receiverPhoneNumber" #receiverPhoneNumber="ngModel" required [disabled]="isViewFormMode">
            <div *ngIf="receiverPhoneNumber.invalid && (receiverPhoneNumber.dirty || receiverPhoneNumber.touched)"
                 class="alert alert-danger">
              <div *ngIf="receiverPhoneNumber.errors.required">
                Receiver PhoneNumber is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="packageQuantity">Package Quantity</label>
            <input type="text" class="form-control" [(ngModel)]="formData.packageQuantity" name="packageQuantity" #packageQuantity="ngModel" required [disabled]="isViewFormMode">
            <div *ngIf="packageQuantity.invalid && (packageQuantity.dirty || packageQuantity.touched)"
                 class="alert alert-danger">
              <div *ngIf="packageQuantity.errors.required">
                Package Quantity is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="pickingDate">Picking Date</label>
            <input class="form-control" [(ngModel)]="formData.pickingDate" name="pickingDate" #pickingDate="ngModel" required [disabled]="isViewFormMode" type="datetime-local">
            <div *ngIf="pickingDate.invalid && (pickingDate.dirty || pickingDate.touched)"
                 class="alert alert-danger">
              <div *ngIf="pickingDate.errors.required">
                Picking Date is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="DeliveryDate">Expected Date</label>
            <input class="form-control" [(ngModel)]="formData.expectedDate" name="expectedDate" #expectedDate="ngModel" required [disabled]="isViewFormMode" type="datetime-local">
            <div *ngIf="expectedDate.invalid && (expectedDate.dirty || expectedDate.touched)"
                 class="alert alert-danger">
              <div *ngIf="expectedDate.errors.required">
                Expected Date is required.
              </div>
            </div>
          </div>

          <div class="form-group" *ngIf="!isViewFormMode">
            <label for="wareHouseId">Warehouse</label>
            <select class="form-control" [(ngModel)]="formData.wareHouseId" name="wareHouseId" #wareHouseId="ngModel" [disabled]="isViewFormMode" required>
              <option value="{{formData.wareHouseId}}" selected hidden>{{formDataSource.CurrentWarehouse}}</option>
              <option *ngFor="let item of formDataSource.WarehouseList" value="{{item.id}}">{{item.nameWarehouse}}</option>
            </select>
            <div *ngIf="wareHouseId.invalid && (wareHouseId.dirty || wareHouseId.touched)"
                 class="alert alert-danger">
              <div *ngIf="wareHouseId.errors.required">
                Warehouse is required.
              </div>
            </div>
          </div>
          <div class="form-group" *ngIf="isViewFormMode">
            <label for="address">Warehouse</label>
            <input type="text" class="form-control" [(ngModel)]="formDataSource.CurrentWarehouse" [ngModelOptions]="{standalone: true}" [disabled]="true">
          </div>

          <div class="form-group">
            <label for="address">Delivery Address</label>
            <input type="text" class="form-control" [(ngModel)]="formData.address" name="address" #address="ngModel" required [disabled]="isViewFormMode">
            <div *ngIf="address.invalid && (address.dirty || address.touched)"
                 class="alert alert-danger">
              <div *ngIf="address.errors.required">
                Delivery Address is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="deliveryLatitude">Delivery Latitude</label>
            <input type="text" class="form-control" [(ngModel)]="formData.deliveryLatitude" name="deliveryLatitude" #deliveryLatitude="ngModel" required [disabled]="isViewFormMode">
            <div *ngIf="deliveryLatitude.invalid && (deliveryLatitude.dirty || deliveryLatitude.touched)"
                 class="alert alert-danger">
              <div *ngIf="deliveryLatitude.errors.required">
                Delivery Latitude is required.
              </div>
            </div>
          </div>

          <div class="form-group ">
            <label for="deliveryLongitude">Delivery Longitude</label>
            <input type="text" class="form-control" [(ngModel)]="formData.deliveryLongitude" name="deliveryLongitude" #deliveryLongitude="ngModel" required [disabled]="isViewFormMode">
            <div *ngIf="deliveryLongitude.invalid && (deliveryLongitude.dirty || deliveryLongitude.touched)"
                 class="alert alert-danger">
              <div *ngIf="deliveryLongitude.errors.required">
                Delivery Longitude is required.
              </div>
            </div>
          </div>
          <div class="btn-wrapper">
            <!-- Create / View -->
            <button *ngIf="!isUpdateFormMode" type="submit" class="btn btn-custom mr-1" (click)="onNavigateToListPage()">Back to List</button>

            <!-- Update -->
            <button *ngIf="isUpdateFormMode" type="submit" class="btn btn-custom mr-1" (click)="onNavigateToViewPage()">Cancel</button>

            <!-- Create / Update -->
            <button *ngIf="!isViewFormMode" type="submit" class="btn btn-custom">Save</button>

            <!-- View -->
            <button *ngIf="isViewFormMode" routerLink="/request/form/update/{{formData?.id}}" class="btn btn-custom">Update</button>

          </div>


        </form>
      </div>
      <div class="col-md-8 col-lg-8 ">
        <p>Map here!</p>
      </div>
    </div>
  </div>
</div>
