
<div class="row">

  <div class="col-md-4 container">
    <div class="tille">
      <span id="header">SHIPMENT</span>
      <img src="../../assets/support.svg" class="rounded-circle float-right" id="support" width="60" height="60" />
    </div>

    <div class="col-sm-12">
      <input *ngIf="shipmentDetail.status != 'Shipping'" type="text" class="form-control-plaintext yourAddress" readonly value={{locationPicking.address}}>
      <input *ngIf="shipmentDetail.status == 'Shipping'" type="text" class="form-control-plaintext yourAddress" readonly value={{request.location.address}}>
    </div>

    <div class="detail">
      <table class="table table-hover">
        <tbody>
          <tr>
            <td>Shipment code</td>
            <td>{{shipmentDetail.code}}</td>
          </tr>
          <tr>
            <td>Total Package</td>
            <td>{{shipmentDetail.packageQuality}}</td>
          </tr>
          <tr>
            <td>Start date</td>
            <td style="color:red">{{shipmentDetail.startDate | date:'short'}}</td>
          </tr>
          <tr>
            <td>End date</td>
            <td>{{shipmentDetail.endDate | date:'short'}}</td>
          </tr>
          <tr>
            <td>Status</td>
            <td>{{shipmentDetail.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container-fluid">


      <div *ngIf="role=='Coordinator'">
        <div *ngIf="shipmentDetail.status != 'Pending' && shipmentDetail.status != 'InActive'">
          <div class="row">
            <div style="width:50%" class="pr-1">
              <button disabled class="btn btn-success btn-block">Update</button>
            </div>
            <div style="width:50%" class="pl-1">
              <button *ngIf="active==0" (click)="ChangeStatusShipment(1)" disabled class="btn btn-primary btn-block">Active</button>
              <button *ngIf="active==1" (click)="ChangeStatusShipment(0)" disabled class="btn btn-primary btn-block">DeActive</button>
            </div>
          </div>
        </div>

        <div *ngIf="shipmentDetail.status == 'Pending' || shipmentDetail.status == 'InActive'">
          <div class="row">
            <div style="width:50%" class="pr-1">
              <button class="btn btn-success btn-block">Update</button>
            </div>
            <div style="width:50%" class="pl-1">
              <button *ngIf="active==0" (click)="ChangeStatusShipment(1)" class="btn btn-primary btn-block">Active</button>
              <button *ngIf="active==1" (click)="ChangeStatusShipment(0)" class="btn btn-primary btn-block">DeActive</button>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="role=='Driver'">
        <div class="row">
          <div style="width:50%" class="pr-1">
            <button *ngIf="shipmentDetail.status == 'Pending'" (click)="feedback(shipmentDetail, 'Accept')" class="btn btn-success btn-block">Accept a shipment</button>
            <button *ngIf="shipmentDetail.status == 'Accept'" (click)="feedback(shipmentDetail, 'Picking')" class="btn btn-success btn-block">Picking</button>
            <button *ngIf="shipmentDetail.status == 'Picking'" (click)="feedback(shipmentDetail, 'Loading')" class="btn btn-success btn-block">Start to load</button>
            <button *ngIf="shipmentDetail.status == 'Loading'" (click)="feedback(shipmentDetail, 'Shipping')" class="btn btn-success btn-block">Complete loading</button>
            <button *ngIf="shipmentDetail.status == 'Shipping' && request.status=='Pending' && request.code == shipmentDetail.currentRequest && request.isProblem==0" (click)="changeStatus(shipmentDetail,'Shipping')" class="btn btn-primary btn-block">Start to delivery</button>
            <button *ngIf="shipmentDetail.status == 'Shipping' && request.status=='Pending' && request.code!=shipmentDetail.currentRequest && request.isProblem==0" class="btn btn-primary btn-block diable">Start to delivery</button>
            <button *ngIf="shipmentDetail.status == 'Shipping' && request.status=='Shipping' && request.code==shipmentDetail.currentRequest && request.isProblem==0" (click)="changeStatus(shipmentDetail,'Unloading')" class="btn btn-warning btn-block">Start to unloading</button>
            <button *ngIf="shipmentDetail.status == 'Shipping' && request.status=='Unloading' && request.isProblem==0" class="btn btn-success btn-block" (click)="changeStatus(shipmentDetail,'Completed')">Complete to delivery</button>
            <button *ngIf="shipmentDetail.status == 'Shipping' && request.status=='Completed' && request.isProblem==0" (click)="nextRequest()" class="btn btn-success btn-block">Continue next request</button>
            <button *ngIf="shipmentDetail.status == 'Shipping' && request.isProblem==1" (click)="nextRequest()" class="btn btn-success btn-block">Continue next request</button>

            <button *ngIf="shipmentDetail.status == 'Completed' || shipmentDetail.status == 'Reject'" (click)="returnList()" class="btn btn-primary btn-block">Return to list</button>

          </div>
          <div style="width:50%" class="pl-1">
            <button *ngIf="shipmentDetail.status == 'Pending' || shipmentDetail.status == 'Accept'" (click)="feedback(shipmentDetail, 'Reject')" class="btn btn-danger btn-block">Reject a shipment</button>
            <button *ngIf="shipmentDetail.status != 'Pending' && shipmentDetail.status != 'Reject' && shipmentDetail.status != 'Accept' && request.isProblem==0" class="btn btn-danger btn-block" data-toggle="modal" data-target="#Problem">Have a problem</button>
            <button *ngIf="shipmentDetail.status != 'Pending' && shipmentDetail.status != 'Reject' && shipmentDetail.status != 'Accept' && request.isProblem==1" (click)="resovleProblem(request)" class="btn btn-danger btn-block">Resolved a problem</button>

            <div class="modal fade" id="Problem" tabindex="-1" role="dialog" aria-labelledby="Problem" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="color:red">Your problem</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p style="font-size:16px">Request Code: {{request.code}}</p>
                    <input type="text" id="problem" class="form-control-plaintext" [(ngModel)]="problemMessage" name="problemMessage" placeholder="Enter your problem">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="sendProblem(request,true)" data-dismiss="modal">Send</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="inf">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" *ngIf="statusNav=='Request'" routerLink="./" routerLinkActive="hold">Request detail</a>
          <a class="nav-link" (click)="changeNav('Request')" *ngIf="statusNav!='Request'" routerLink="./">Request detail</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " *ngIf="statusNav=='List'" routerLink="./" routerLinkActive="hold">List request</a>
          <a class="nav-link " (click)="changeNav('List')" *ngIf="statusNav!='List'" routerLink="./">List request</a>
        </li>
      </ul>

      <div *ngIf="statusNav=='Request'">
        <div class="tille">
          <h3>REQUEST DETAIL</h3>
        </div>
        <table class="table table-hover">
          <tbody>
            <tr *ngIf="request.isProblem==1">
              <td>Request code</td>
              <td *ngIf="shipmentDetail.status=='Completed'">{{request.code}}</td>
              <td *ngIf="request.code==shipmentDetail.currentRequest &&shipmentDetail.status!='Completed'">{{request.code}} <span class="badge badge-success">Current</span><span class="badge badge-danger">Pending</span></td>
              <td *ngIf="request.code!=shipmentDetail.currentRequest && shipmentDetail.status!='Completed'">{{request.code}} <span (click)="gotoCurrentRequest()" class="badge badge-warning">Not current</span><span class="badge badge-danger">Pending</span></td>
            </tr>
            <tr *ngIf="request.isProblem==0">
              <td>Request code</td>
              <td *ngIf="shipmentDetail.status=='Completed'">{{request.code}}</td>
              <td *ngIf="request.code==shipmentDetail.currentRequest &&shipmentDetail.status!='Completed'">{{request.code}} <span class="badge badge-success">Current</span></td>
              <td *ngIf="request.code!=shipmentDetail.currentRequest && shipmentDetail.status!='Completed'">{{request.code}} <span (click)="gotoCurrentRequest()" class="badge badge-warning">Not current</span></td>
            </tr>
            <tr>
              <td>Total Package</td>
              <td>{{request.packageQuantity}}</td>
            </tr>
            <tr>
              <td>Estimate date</td>
              <td>{{request.estimateDate | date:'short'}}</td>
            </tr>
            <tr>
              <td>Receiver</td>
              <td>{{request.receiverName}}</td>
            </tr>
            <tr>
              <td>PhoneNumber</td>
              <td>{{request.receiverPhoneNumber}}</td>
            </tr>
            <tr>
              <td>Status</td>
              <td>{{request.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="statusNav=='List'">
        <table class="table table-hover">
          <tbody data-spy="scroll" data-offset="50">
            <tr *ngFor="let item of requestList" (click)="viewRequest(item)">
              <td *ngIf="item.isProblem == 1">
                <span>{{item.code}} </span> <span class="badge badge-success">{{item.status}}</span><br />
                <span style="font-size:12px">{{item.location.address}}</span><br />
                <span class="badge badge-danger">Pending</span>
              </td>

              <td *ngIf="item.isProblem == 0">
                <span>{{item.code}} </span> <span class="badge badge-success">{{item.status}}</span><br />
                <span style="font-size:12px">{{item.location.address}}</span><br />
              </td>
              <td>
                <span style="font-size:12px">{{item.estimateDate | date:'short'}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <div class="col-md-8">
    <app-ggmap [waypts]="wayptsSubject"></app-ggmap>
  </div>
</div>
