$main-color: #0073e6;
$sidebar-color: #e6e6ff;
$my-color: #0073e6;
$margin:5px;

.row {
  margin-top: $margin;
}

.tille {
  text-align: center;
}

#header {
  font-size: 40px;
  color: $main-color;
}

.yourAddress {
  border-bottom: 1px solid $main-color;
  background-image: url("/assets/placeholder.svg");
  background-repeat: no-repeat;
  padding-left: 48px;
}

#completed {
  margin-top: $margin;
}


#inf {
  margin-top: $margin;
  border: 1px solid $my-color;
}

.nav {
  border-bottom: 1px solid $my-color;
  color: black;
}

.nav-item a.hold {
  background-color: $sidebar-color;
  color: $main-color;
  font-weight: 500;
  border-bottom: solid;
  border-bottom-color: $main-color;
}

/* Sidebar */
#sidebar-container {
  margin-top: $margin;
  min-height: 460px;
  // height:100%;
  padding: 0;
  border-bottom-color: $main-color;
  font-weight: 500;
}

#support {
  border: 2px solid #55E0DE;
  background-color: $sidebar-color;
  margin-top: $margin;
}
.request {
  border: 2px solid $main-color;
  margin-top: $margin;
}
h3 {
  text-align: center;
  margin-top: $margin;
}
