<nav class="navbar navbar-expand-md row" id="narbar">
  <div class="btn-group d-sm-block d-md-none col">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <i class="fas fa-bars"></i>
    </a>
    <div class="dropdown-menu dropdown-menu" id="AccountDropdown">
      <a *ngIf="isRole=='Customer' || isRole=='Coordinator'"
         routerLink="/request/list" routerLinkActive="hold" class="dropdown-item">
        <i class="fas fa-list-alt layout"></i> Request
      </a>
      <a *ngIf="isRole=='Customer'"
         class=" list-group-item list-group-item-action ">
        <i class="fas fa-warehouse"></i> Warehouse
      </a>
        <a *ngIf="isRole=='Coordinator' || isRole=='Driver'"
           routerLink="/shipment" routerLinkActive="hold" class="dropdown-item">
        <i class="fas fa-shipping-fast"></i> Shipment
        </a>
        <a *ngIf="isRole=='Administrator'"
           routerLink="/account" routerLinkActive="hold" class="dropdown-item">
        <i class="fas fa-users"></i> Account
        </a>
        <a *ngIf="isRole=='Administrator'"
           routerLinkActive="hold" class="dropdown-item" (click)="displayToastr()">
        <i class="fas fa-user layout"></i> Driver
        </a>
        <a *ngIf="isRole=='Administrator'"
           routerLinkActive="hold" class="dropdown-item" (click)="displayToastr()">
        <i class="fas fa-truck"></i> Vehicle
        </a>
    </div>
  </div>

  <a class="navbar-brand col" id="brand">
    <h2>GoGo</h2>
  </a>

  <div class="btn-group col justify-content-end">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        <i class="fas fa-user"></i> {{userName}}
      </button>
      <div class="dropdown-menu dropdown-menu-right" id="AccountDropdown">
        <a class="dropdown-item" routerLink="/profile"><i class="fas fa-user-circle"></i> Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logOut()"><i class="fas fa-sign-out-alt"></i> Logout</a>
      </div>
  </div>

</nav>
