<nav class="navbar navbar-expand-md row" id="narbar">
  <a class="navbar-brand" id="brand">
    <h2>GoGo</h2>
  </a>
  <a id="toggleButton" class="navbar-toggler " data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    Menu
  </a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <!-- This menu is hidden in bigger devices with d-sm-none.
           The sidebar isn't proper for smaller screens imo, so this dropdown menu can keep all the useful sidebar itens exclusively for smaller screens  -->
      <li class="nav-item dropdown d-sm-block d-md-none">
        <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          List
        </a>
        <div class="dropdown-menu" aria-labelledby="smallerscreenmenu" id="smallMenu">
          <a class="dropdown-item" href="#">Dashboard</a>
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Tasks</a>
          <a class="dropdown-item" href="#">Etc ...</a>
        </div>
      </li><!-- Smaller devices menu END -->
    </ul>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Account
    </button>
    <div class="dropdown-menu dropdown-menu-right" id="AccountDropdown">
      <a class="dropdown-item" routerLink="/profile">Profile</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" (click)="logOut()">Logout</a>
    </div>
  </div>
</nav>
