$main-color: #0073e6;
$sidebar-color: #e6e6ff;
$my-color: #0073e6;

.problem {
  background-color: #ffe6e6;
}
#tille{
  color:red;
}
input{
  border-color:red;
}
img{
  margin-top:5px;
  margin-left:5px;
  border:0px;
}
a {
  margin-top: 10px;
  margin-bottom:10px;
  background-color: #ff8080;
  color:white;
}

#only {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
 
}
