<h1>List account</h1>
<button class="btn btn-success" (click)="create()">Create User</button>
<div>
  <select class="float-right" [(ngModel)]="selectOption" (ngModelChange)="loadList()">
    <option value="Customer">Customer</option>
    <option value="Driver">Driver</option>
    <option value="Coordinator">Coordinator</option>
    <option value="Administrator">Administrator</option>
  </select>
</div>
<div class="list clear">
  <table class="table table-hover">
    <thead id="head">
      <tr>
        <th>ID</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let user of userList">
        <td>{{user.id}}</td>
        <td>{{user.userName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phoneNumber}}</td>
        <td>{{user.status}}</td>
        <td><button class="btn btn-default" (click)="loadDetail(user.id)">Detail</button></td>
      </tr>
    </tbody>
  </table>
</div>
